.header {
    height: 34vw;
    margin: 0 auto 30px;
    background: rgb(255, 169, 71);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
}
.header-content p{
    font-size: 60;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.myimg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
img {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 80vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .myimg {
        top: 12%;
        width: 60%;
        height: 50%;
    }

}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .header {
        height: 60vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .myimg {
        top: 12%;
        width: 60%;
        height: 50%;
    }


}

@media only screen and (min-width: 768px) {
    .header {
        height: 34vw;
    }

}
